{% extends "index.html" %}

{% block title %}
leaderboard
{% endblock %}

{% block main %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Good Answers</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for x in range(10) %}
        <tr>
            <th scope="row">{{ x+1 }}</th>
            {% if x < len %}
            <th>{{ data[x]["name"] }}</th>
            <th>{{ data[x]["gansw"] }}</th>
            {% else %}
            <th> - </th>
            <th> - </th>
            {% endif %}

        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}